/***CUSTOM CSS RULES FOR YOUR SITE***/

/*PRO_WS*/
.product-delivery-info.product-item-detail-info-message {
	font-size: 16px;
	color: #1a1b1c;
}
/*
.product-item-detail-magnifier {
	display: none;
}

.product-item-detail-icons-container {
	background-color: transparent;
}
*/
/*PRO_WS*/
