.catalog-empty-parent{
	margin-bottom: 24px;
}
.catalog-empty-parent-links{
	max-height: 92px;
	display: flex;
	flex-wrap: wrap;
	margin-left: -6px;
	margin-top: -6px;
	margin-bottom: 32px;
	position: relative;
	overflow: hidden;
}
.catalog-empty-parent-links.active{
	max-height: unset;
	overflow: visible;
}
.catalog-empty-parent-link{
	margin-left: 6px;
	margin-top: 6px;
	padding: 9px 16px 8px;
	white-space: nowrap;
	border: 2px solid #e3ecef;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}
.bx-no-touch .catalog-empty-parent-link:not(.catalog-empty-parent-link-btn):hover,
.bx-touch .catalog-empty-parent-link:not(.catalog-empty-parent-link-btn):active{
	border-color: #78909c;
	background: #e3ecef;
}
.catalog-empty-parent-link.active,
.bx-no-touch .catalog-empty-parent-link.active:hover,
.bx-touch .catalog-empty-parent-link.active:active{
	border-color: #6639b6;
	background: rgba(102, 57, 182, 0.16);
}
.catalog-empty-parent-link:not(.catalog-empty-parent-link-btn) > span{
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
	margin-top: -2px;
	padding: 2px 5px 1px;
	font-size: 11px;
	color: #566b75;
	line-height: 13px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: #ced9db;
}
.catalog-empty-parent-link:not(.catalog-empty-parent-link-btn).active > span,
.bx-no-touch .catalog-empty-parent-link:not(.catalog-empty-parent-link-btn).active:hover > span,
.bx-touch .catalog-empty-parent-link:not(.catalog-empty-parent-link-btn).active:active > span{
	color: #fff;
	background: #78909c;
}
.catalog-empty-parent-link-btn-container{
	position: absolute;
	right: 0;
	bottom: 0;
	background: #fff;
}
.catalog-empty-parent-links.active .catalog-empty-parent-link-btn-container{
	margin-left: 6px;
	margin-top: 6px;
	position: static;
}
.catalog-empty-parent-link-btn-container:before{
	width: 74px;
	position: absolute;
	right: 100%;
	top: 0;
	bottom: 0;
	content: "";
	background: -moz-linear-gradient(left, rgba(241, 246, 247, 0) 0%, #fff 86%, #fff 100%);
	background: -webkit-linear-gradient(left, rgba(241, 246, 247, 0) 0%, #fff 86%, #fff 100%);
	background: linear-gradient(to right, rgba(241, 246, 247, 0) 0%, #fff 86%, #fff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f1f6f7', endColorstr='#ffffff', GradientType=1);
}
.catalog-empty-parent-links.active .catalog-empty-parent-link-btn-container:before{
	content: none;
}
.catalog-empty-parent-link-btn{
	display: flex;
	align-items: center;
	margin: 0;
	border-color: #f1f6f7;
	background: #f1f6f7;
	cursor: pointer;
}
.catalog-empty-parent-link-btn > span{
	padding-right: 12px;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}
.bx-no-touch .catalog-empty-parent-link-btn:hover > span,
.bx-touch .catalog-empty-parent-link-btn:active > span{
	color: #6639b6;
}
.catalog-empty-parent-link-btn > i{
	font-size: 16px;
	color: #b2c7cb;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}
.bx-no-touch .catalog-empty-parent-link-btn:hover > i,
.bx-touch .catalog-empty-parent-link-btn:active > i{
	color: #6639b6;
}
@media(max-width: 1042px){
	.catalog-empty-parent-links{
		margin-bottom: 18px;
	}
	.catalog-empty-alert {
		margin-top: 18px;
	}
}